/* Colores */
$main: #fff;
$accent: #fe320f;
$text: #282828;

$theme-colors: (
  "primary": $accent,
  "secondary": $main
);

/* Fuentes */
$body-font: "Antonio", sans-serif;
$header-font: "New Tegomin", serif;

/* Tamaño breakpoints de media queries */
$movil: 376px;
$altura: 27em;
$tablet: 42em;
$desktop: 990px;

/* Variables Bootstrap */
$carousel-control-color: $accent;
$carousel-indicator-active-bg: $accent;
$carousel-caption-color: $accent;

$accordion-border-color: rgba($accent, .3);
$accordion-button-color: $main;
$accordion-button-focus-border-color: rgba($accent, .4);
$accordion-button-focus-box-shadow: 0 0 0 .25rem rgb(254 50 15 / 25%);
$accordion-icon-color: $main;
$accordion-icon-active-color: $main;

$list-group-color: $accent;
$list-group-border-color: rgba($accent, .3);
